.photo-grid {
  content-visibility: auto;
  height: calc(100vh - 44px);
  overflow-y: auto;

  &__container {
    justify-items: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
