.photo-grid {
  content-visibility: auto;
  height: calc(100vh - 44px);
  overflow-y: auto;

  &__container {
    justify-items: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  &__loader {
    pointer-events: none;
    position: fixed;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 150;
    border: 10px solid aliceblue;
    border-top: 10px solid cornflowerblue;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
