.navigation-button {
  padding: 14px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  background: aliceblue;
  color: lightslategray;
  transition: all .33s ease-in-out;

  &--active {
    background: cornflowerblue;
    color: cornsilk;
  }

  &:not(&--active):hover {
    background: royalblue;
    color: antiquewhite;
  }
}
