.page-header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  .navigation-button {
    padding: 14px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    background: aliceblue;
    color: lightslategray;
    transition: all 0.14s ease-in-out;
    box-shadow: inset 0 0 0 .5px rgba(0, 0, 0, 0.04);

    &--active {
      background: cornflowerblue;
      color: cornsilk;
    }

    &:not(&--active):hover {
      background: #518aef;
      color: #fdf6d5;
    }
  }
}
