.photo-preview {
  background: floralwhite;
  height: calc(100vh - 92px);

  .favorites-button {
    position: fixed;
    bottom: 0;
    padding: 14px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    background: aliceblue;
    color: lightslategray;
    transition: all 0.14s ease-in-out;
    box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.04);
    cursor: pointer;

    &:hover {
      background: royalblue;
      color: antiquewhite;
    }
  }
}
